.calendar {
    display: flex;
    flex-direction: column;
  }
  
  .calendar-header {
    display: flex;
    text-align: center;
    background-color: #255ab5;
    color: white;
  }

  .day-cell {
    cursor: pointer; /* Change cursor to pointer on hover */
    position: relative; /* Position for the hover effect */
  }
  
  .day-cell.today {
    background-color: #beceeb; /* Highlight today's date */
    font-weight: bold; /* Make today's date bold */
  }
  
  .day-cell:hover {
    background-color: #f0f0f0; /* Light gray background on hover */
  }
  
  
  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 columns, one for each day of the week */
    grid-gap: 5px;
    padding: 10px;
  }
  .day-header {
    background-color: #255ab5;
    color: white;
    text-align: center;
    padding: 10px;
    font-weight: bold;
  }  
  
  .day-cell {
    position: relative;
    min-height: 95px;
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .day-cell:hover {
    background-color: #f0f0f0;
  }
  
  .empty {
    background-color: #eaeaea;
  }
  
  .date {
    font-weight: bold;
  }
  
  .task {
    background-color: #255ab5;
    color: white;
    padding: 5px;
    margin: 5px 0;
    border-radius: 4px;
  }

  .display-class {
    display: flex;
  }

  .margin-class {
    margin-left: 8px;
    margin-bottom: 8px;
  }

  .btn-class {
    width: 100%;
    position: relative;
    margin-top: 15px;
    /* float: left; */
    left: 563px;
    top: -6px;
  }
  