.calendar {
  display: flex;
  flex-direction: column;

  .calendar-header {
    display: flex;
    text-align: center;
    background-color: #255ab5;
    color: white;
  }

  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7,
        1fr);
    grid-gap: 5px;
    padding: 10px;

    .day-header {
      background-color: #255ab5;
      color: white;
      text-align: center;
      padding: 10px;
      font-weight: bold;
    }

    .day-cell {
      position: relative;
      min-height: 95px;
      border: 1px solid #ddd;
      text-align: left;
      padding: 8px;
      font-size: 14px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      .empty {
        background-color: #eaeaea;
      }

      .date {
        font-weight: bold;
      }
    }

    .day-cell:hover {
      background-color: #f0f0f0;
    }

    .day-cell.today {
      background-color: #beceeb;
      font-weight: bold;
    }
  }
}

.task {
  background-color: #255ab5;
  color: white;
  padding: 5px;
  margin: 5px 0;
  border-radius: 4px;
}

.display-class {
  display: flex;
  &.status-class {
    margin-top: 8px;
  }
}

.margin-class {
  margin-left: 8px;
  margin-bottom: 8px;
}

.btn-class {
  width: 100%;
  position: relative;
  margin-top: 15px;
  /* float: left; */
  left: 563px;
  top: -6px;
}


.loader-container{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  .loader {

    width: 48px;
    height: 48px;
    color: #255ab5;
    position: relative;
    background: radial-gradient(11px, currentColor 95%, #fff);
  }
  .loader::before{
    --x-offset: 0px;
    --y-offset: 0px;
    content: "";
    position: absolute;
    inset: -1px -1px;
    --size: 24px;
    background: radial-gradient(12px at bottom right, transparent 94%, currentColor) top left,
    radial-gradient(12px at bottom left, transparent 94%, currentColor) top right,
    radial-gradient(12px at top right, transparent 94%, currentColor) bottom left,
    radial-gradient(12px at top left, transparent 94%, currentColor) bottom right;
    background-size: var(--size) var(--size);
    background-repeat: no-repeat;
    animation: rotation 3s -1s infinite ease;
  }
}



    @keyframes rotation {
  16% {
    transform: rotate(0deg);
    inset: -1px -15px;
  }
  32% {
    transform: rotate(90deg);
    inset: -1px -15px;
  }
  48%{
    transform: rotate(90deg);
    inset: -1px -1px;
  }
  64%{
    transform: rotate(90deg);
    inset: -15px -1px;
  }
  82%{
    transform: rotate(0deg);
    inset: -15px -1px;
  }
}

/* Media Queries */
@media (max-width: 768px) {
  .calendar-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .day-cell {
    min-height: 75px;
    font-size: 12px;
  }

  .btn-class {
    left: 0;
    width: 100%;
  }
}

@media (max-width: 576px) {
  .calendar-grid {
    grid-template-columns: repeat(2, 1fr); 
  }

  .day-cell {
    min-height: 60px;
    font-size: 10px;
  }

  .task {
    padding: 2px;
  }
}